.banner {
  background-image: url('https://lh3.googleusercontent.com/lVb6OAmBI6cFnPM87xTlGUiY-J9I9T7hPKJqz2SQaFwxdtW1epj2lVnnVRsWijlaspE33pHhD8dTTi7nz-7Bbp92bMoyOIFj0DYhAxItUrMfnhgGBymhdmVZ0aWRhBlHC23HQ4y9DG9xEQkIzUwzrOm_uqPHaG86HOuVrTdJGD3p6PeGF9ViljImOGpxZV3qgBgbyIr3lsGji_zCqqB_jYC7k8HL9QPMLbEs8j9lq4ilegBARFiOro3m0n7zE0TxO1CUN-afZPmzr17jK9d3t7BT9LC1bmV1NcrTGSGbMcfuF7EwScFzCk-xV54khLTICoqJFsI0a_oJXV-WVGmD6Uc0b_Ra_7c5hlNiELFioB_TXSE44iwqyh_ZdwmZqxdLcIx2OlVLGj1al_F8UuOBV0FPRVDuaYPH0Wmhd8WJoA3M7pbwL3UVoXswRu-RMEp20dArNErZ53FnjgrlVKsk6tyoSXJ4_DCS2wcVvKEoMkzQjnK7-V92gijF9wZklCN2Sa9_JjkkSbBbmSGNmmrLnYnPNQPjK6TX0TfDWVXVOfwJJQUd4Amxo4bIcF-6LOSX-iUPfvOtHxV6r_F4V5LMdPXsAe1_6PJeJ7_RmLSZiJFIHCbC-ufhV8mcehknAugwl6lzhKrdz0LJEpTJSOYu2fWyKgQJQB-Xk_hfKNonr1LkuABQUi7ZJuM=w1762-h1174-no');
  background-repeat: no-repeat;
  height: 500px;
  background-size: cover;
  position: relative;
  margin-bottom: 8px;
}

.title {
  position: absolute;
  bottom: 80px;
  font-size: 80px;
  color: white;
  justify-content: bottom;
  font-family: 'Pacifico', cursive;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  top: 60%;
  left: 30%;
}

.button h4 {
  background-color: #3BA99C;
  color: white;
  font-weight: regular;
  padding: 8px;
  border-radius: 4px;
  font-size: 20px;
  width: 175px;
  text-align: center;
  position: absolute;
  top: 82%;
  left: 40%;
}

.button h4:hover {
  background-color: rgb(255,255,255);
  border: 2px solid #3BA99C;
  color: #3BA99C;
}
