.card-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0px auto;
  width: 75vw;
  justify-content: center;
  position: absolute;
  top: 65%;
  right: 12%;
}

.card {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: center;
  height: 380px;
  width: 20vw;
  border-radius: 8px;
  align-items: center;
  margin: 8px;
  position: relative;
  transition-duration: 1s;
}

.card-container a:hover {
  text-decoration: none !important;
}

.card img {
  width: 90%;
  height: 250px;
  object-fit: cover;
  align-items: center;
}

.name, .bottom-info {
  color: grey;
  font-weight: bold;
  font-family: "Oxygen", "Helvetica", "sans-serif";
  padding: 8px;
}

.name {
  font-size: 28px;
}

.bottom-info {
  font-size: 20px;
}

.rating {
  position: absolute;
  right: 2%;
  padding: 8px;
  color: #EFEA5A;
}

.address {
  position: absolute;
  left: 5%;
  padding: 8px;
}

.name:hover, .address:hover {
  color: rgb(147, 28, 151);
  text-decoration: none;
}

.photo-with-description {
  position: relative;
}

.description {
  position: absolute;
  top: 72%;
  left: 5%;
  font-size: 14px;
  color: $white;
  line-height: 1;
  margin: 0;
  width: 90%;
  background: black;
  opacity: .6;
  padding: 4px;
}

.card:hover {
  transform: scale(1.1);
  z-index: 10;
  transition-duration: 1s;
}