// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "banner";
@import "card";

body {
  background-color: #012A36;
  margin: 16px;
}

h1 {
  text-align: center;
}

.subtitle {
  position: inline-block;
}
