// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "banner";
@import "card";

body {
  background-color: #FAFAFA;
  margin: 16px;
}

.subtitle {
  position: inline-block;
}
