form {
    display: flex;
}

.search-form {
    border: none;
    background-color: #FAFAFA;
    opacity: .8;
    padding: 12px;
    border-radius: 8px 0 0 8px;
    width: 40vw;
    font-size: 20px;
}